---
title: Mu Designs
---
<div class="row">
    <div class="large-12 columns">
        <dl class="accordion" data-accordion>
            <dd class="accordion-navigation">
                <a href="#panel2">Tech Roll</a>
                <div id="panel2" class="content tekrol">
                    <ul class="small-block-grid-4 medium-block-grid-5 large-block-grid-6">
                      <li><a title="" class="cc_logo" href="https://creative.adobe.com/"><span>Adobe</span></a></li>
                      <li><a title="" class="android_logo" href="http://developer.android.com/sdk/index.html?hl=sk"><span>Android</span></a></li>
                      <li><a title="" class="angular_logo" href="http://angularjs.org"><span>Angular</span></a></li>
                      <li><a title="" class="bootstrap_logo" href="http://getbootstrap.com"><span>Bootstrap</span></a></li>
                      <li><a title="" class="bourbon_logo" href="http://bourbon.io"><span>Bourbon</span></a></li>
                      <li><a title="" class="bitters_logo" href="http://bitters.bourbon.io"><span>Bitters</span></a></li>
                      <li><a title="" class="bower_logo" href="http://bower.io"><span>Bower</span></a></li>
                      <li><a title="" class="chef_logo" href="https://wiki.opscode.com/display/chef/Home"><span>Chef</span></a></li>
                      <li><a title="" class="compass_logo" href="http://compass-style.org/"><span>Compass</span></a></li>
                      <li><a title="" class="cordova_logo" href="http://cordova.apache.org/"><span>Cordova</span></a></li>
                      <li><a title="" class="zurb_logo" href="http://zurb.foundation.com/"><span>Foundation</span></a></li>
                      <li><a title="" class="git_logo" href="http://git-scm.com/"><span>Git</span></a></li>
                      <li><a title="" class="github_logo" href="http://github.com"><span>Github</span></a></li>
                      <li><a title="" class="grunt_logo" href="http://gruntjs.com/"><span>Grunt</span></a></li>
                      <li><a title="" class="gulp_logo" href="http://gulpjs.com/"><span>Gulp</span></a></li>
                      <li><a title="" class="html5_logo" href="http://html5test.com/"><span>HTML5</span></a></li>
                      <li><a title="" class="inuit_logo" href="https://github.com/inuitcss"><span>Inuit</span></a></li>
                      <li><a title="" class="ionic_logo" href="http://ionicframework.io/"><span>Ionic</span></a></li>
                      <li><a title="" class="laravel_logo" href="http://laravel.com/"><span>Laravel</span></a></li>
                      <li><a title="" class="neat_logo" href="http://neat.bourbon.io/"><span>Neat</span></a></li>
                      <li><a title="" class="puppet_logo" href="http://puppetlabs.com/"><span>Puppet</span></a></li>
                      <li><a title="" class="sketch_logo" href="http://bohemiancoding.com/"><span>Sketch</span></a></li>
                      <li><a title="" class="vagrant_logo" href="http://www.vagrantup.com/"><span>Vagrant</span></a></li>
                      <li><a title="" class="wp_logo" href="http://wordpress.org/"><span>Wordpress</span></a></li>
                      <li><a title="" class="yeoman_logo" href="http://yeoman.io/"><span>Yeoman</span></a></li>
                    </ul>
                </div>
            </dd>
            <dd class="accordion-navigation">
                <a href="#panel3">Sites &amp; Sketches</a>
                <div id="panel3" class="content">
                    <ul class="clearing small-block-grid-2 medium-block-grid-3 large-block-grid-4" data-clearing>
                        <li><a href="images/arcwg.jpg"><img data-caption="ARC Creative Design" src="images/arcwg.jpg"></a></li>
                        <li><a href="images/bb2grab.png"><img data-caption="Big Blue Audio" src="images/bb2grab.png"></a></li>
                        <li><a href="images/bbgrab.png"><img data-caption="Big Blue Audio" src="images/bbgrab.png"></a></li>
                        <li><a href="images/edsvmock1.jpg"><img data-caption="Ed's Vinyl" src="images/edsvmock1.jpg"></a></li>
                        <li><a href="images/lakegrab.png"><img data-caption="Lakeland Lodge" src="images/lakegrab.png"></a></li>
                        <li><a href="images/psionekgrab.png"><img data-caption="Psionek Music" src="images/psionekgrab.png"></a></li>
                        <li><a href="images/rlsgrab.png"><img data-caption="Richard Lloyd Playscripts" src="images/rlsgrab.png"></a></li>
                        <li><a href="images/sitnik_final.jpg"><img data-caption="Aiste Sitnik" src="images/sitnik_final.jpg"></a></li>
                        <li><a href="images/smg_pr.jpg"><img data-caption="Stable Music" src="images/smg_pr.jpg"></a></li>
                        <li><a href="images/sorgrab.png"><img data-caption="Subout Radio" src="images/sorgrab.png"></a></li>
                        <li><a href="images/tbb.png"><img data-caption="Tackle Box" src="images/tbb.png"></a></li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>
</div>
