<div id="filters" class="button-group">
  <ul class="btngroup">
    <li class=""><a href="" data-filter=".html">HTML</a></li>
    <li class=""><a href="" data-filter=".css">CSS</a></li>
    <li class=""><a href="" data-filter=".js">JS</a></li>
    <li class=""><a href="" data-filter=".android">Android</a></li>
    <li class=""><a href="" data-filter=".php">PHP</a></li>
    <li class=""><a href="" data-filter=".dev">Dev</a></li>
  </ul>
</div>