<div id="footer">
    <!-- <figure class="effect-layla">
        <img src="images/muwhite.png" alt="mu designs"/>
        <figcaption>
            <h2>Crazy <span>Layla</span></h2>
            <p>When Layla appears, she brings an eternal summer along.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure> -->
    <a class="button left" href="#">All rights reserved 2014</a>
    <a class="button right" href="#">LinkedIn</a>
</div>