<nav class="top-bar" data-topbar="">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">{{title}}</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="mailto:muflexnet@gmail.com">Contact</a></li>
        </ul>
    </section>
</nav>
<header class="row">
    <div class="small-3 medium-3 large-3 columns">
        <img  src="images/muwhite.png"/>
        <h4 id="mu_h4" class="subheader">Website Design</h4>
        <div class="head_title">
          <a href="http://en.wikipedia.org/wiki/Mu_(negative)#.22Unasking.22_the_question"><h1 id="mu_h1">Mu Flex</h1></a>
        </div>
    </div>
    <div class="large-8 medium-8 small-8 columns">
        <blockquote class="mudef">
            <p>Mu (Japanese/Korean) and Wu (Chinese) is a word which has been roughly translated as "no","none","null","without" and "no meaning". While used mainly in Japanese or Chinese as a prefix to imply the absense of something, in English it is more famously used as a response to certain koans and other questions in zen buddhism, intending to indicate that the question itself was wrong.</p>
          </blockquote>
    </div>
</header>